@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@font-face {
  font-family: Mustard;
  src: url('HenrySansRegular.woff') format('woff'),
    url('HenrySansRegular.ttf') format('truetype')
  font-weight: normal;
}
@font-face {
  font-family: Mustard;
  src: url('HenrySansBold.woff') format('woff'),
    url('HenrySansBold.ttf') format('truetype')
  font-weight: bolder;
}
@font-face {
  font-family: Mustard;
  src: url('HenrySansMedium.woff') format('woff'),
    url('HenrySansMedium.ttf') format('truetype')
  font-weight: bold;
}

body {
  background-image: url("background.png");
  background-size:1rem;
  background-position:center;
  height:100vh;
  width:100vh;
  backdrop-filter: contrast(-50%)
  overflow: hidden;
  background-color: #000;
  color: #fff;
  font-family: Mustard, Ubuntu, sans-serif;
  font-size: 1em;
}
